/* ========== */
.layout {
  display: flex;
  gap: 24px;
  padding: 20px;
  background: #f8fafc;
}

/* =====LATERAL===== */
.sidebar {
  width: 280px;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,.05);
}

.filter-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: 16px;
}

/* ========== */
.filter-block {
  margin-bottom: 20px;
}

.filter-title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.arrow {
  transition: transform .3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

/* ========== */
.radio,
.check {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

/* ========== */
.price-slider {
  width: 100%;
  appearance: none;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #1e88e5 0%,
    #1e88e5 var(--progress),
    #e2e8f0 var(--progress),
    #e2e8f0 100%
  );
}

.price-slider::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #1e88e5;
  cursor: pointer;
}

.price-values {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 8px;
}

/* ===== TAGS ===== */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  padding: 6px 12px;
  border-radius: 20px;
  background: #f1f5f9;
  font-size: 13px;
  cursor: pointer;
}

.tag.active {
  background: #1e88e5;
  color: #fff;
}

/* ===== BTN===== */
.apply-btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #1e88e5;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.clear-btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #f1f5f9;
  color: #1e293b;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

/* ===== PRODUCTOS ===== */
.products {
  flex: 1;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sort-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 14px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
}

.sort-box select {
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
}

/* ========== */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,.05);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ef4444;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
}

.price {
  font-weight: 700;
  margin-top: 6px;
}
