.fondo{
    background-color: #e0f4f9;
    background-image: 
        linear-gradient(0deg, #c2e8f0 1px, transparent 1px),
        linear-gradient(90deg, #c2e8f0 1px, transparent 1px);
    background-size: 10px 10px;
}